//Jetmeshi color
$JetYellow: #F6DBA6;
$JetOrange: #F0AD4E;
$JetGreen: #5CB85C;
$JetBlue: #56C0E0;
$JetPink: #F7A0E9;
$JetRed: #9B0305;
$Twitter: #00acee;
$StarActive: #ffcc00;
$StarDisable: #808080;
$NavGray: rgba(0,0,0,.7);
$NavGrayHover: rgba(0,0,0,.9);

// Body
$body-bg: $JetYellow;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light: #f8f9fa;
$white: #fff;
