// Variables
@import 'variables';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Icons
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

// TOP
.jumbotron-hero{
    position: relative;
    height: 60vh;
    background: url('./images/otama_edited.png') center center;
    background-size: cover;
      *{
        color: $light;
      }
      #show_button{
        background-color: $JetOrange;
      }
      #post_button{
          background-color: $JetGreen;
      }
}

// General
body{
    margin-top: 70px;
    z-index: -900;
    background-color: $body-bg;
}
a{
    color: $NavGray;
}
:hover{
    color: $NavGrayHover;
}

// Create & Edit
input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
}
.custom-range::-webkit-slider-thumb {
    background: $JetGreen;
  }

.custom-range::-moz-range-thumb {
    background: $JetGreen;
  }

.custom-range::-ms-thumb {
    background: $JetGreen;
  }
img.previews{
    width: 100%;
}

input[type=file]{
    top: 0;
    left: 0;
}

.croppie-container{
    margin-top: 10px;
    margin-bottom: 10px;
}

// Swipe menu window
@mixin swipe-aria{
    height: 100%;
    position: fixed;
    overflow: scroll;
    top: 0;
    z-index: 100;
}
.standby.true{
    @include swipe-aria;
    width: 3rem;
    left: 95%;
}
.false{
    @include swipe-aria;
    width: 40%;
    left: 0;
}

// Review
.evaluation{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    input[type='radio']{
        display: none;
      }

    label{
    position: relative;
    padding: 0 5px 0;
    color: $StarDisable;
    cursor: pointer;
    font-size: 20px;
    }
    label:hover,
    label:hover ~ label,
    input[type='radio']:checked ~ label{
    color: $StarActive;
    }
}

// Searching form
.form-budget-time input{
    width: 25%;
    margin: 0;
}

// Carousel
.fas.fa-star{
    color: $StarActive;
}
.fas.fa-star.disabled{
    color: $StarDisable;
}
.fas.fa-yen-sign{
    color: $JetGreen;
}
.fas.fa-stopwatch{
    color: $JetGreen;
}
.fas.fa-tags{
    color: $JetBlue;
}
.slide_show{
    padding: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}
.slide_show:nth-child(odd){
    margin-left: auto;
    margin-right: 0.5rem;
}
.slide_show:nth-child(even){
    margin-right: auto;
    margin-left: 0.5rem;
}

.card, .card img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.card {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.card-body{
    padding: 0.5rem
}



// Window size responsive
/* PC */
@media (min-width: 992px) {
// post.show(blade)
.post_show{
    width: 50%;
}
}

/* Tablet */
@media (max-width: 991.98px) {
    nav > div.container{
        padding-left: 0px;
        padding-right: 0px;
    }
      // post.show(blade)
.post_show{
    width: 75%;
}

}

/* horizontal SP */
@media (max-width: 767.98px) {
  #js-bootstrap-offcanvas, #nav-for-mobile-top, #nav-for-mobile-bottom{
        margin-top: 50px;
  }
  .slide_show:nth-child(odd){
    margin-right: 0.2em;
  }
  .slide_show:nth-child(even){
    margin-left: 0.2em;
  }
}

/* SP */
@media (max-width: 575.98px) {
    .jumbotron-hero {
      background-image: url('./images/otama_meshi.jpg');
      h1{
        font-size: 44px;
      }
    }
    .tags {
        .card-body{
            margin-left: 10%;
        }
    }
    .card-body{
        padding: 0.2rem;
        font-size: 12px;
    }

    .slide_show.col-5{
        flex: 0 0 45.666667%;
        max-width: 45.666667%;
    }
    // post.show(blade)
    .post_show{
        width: 100%;
    }
    // #tag_container input[type="checkbox"]+label {
    //     font-size: 12px;
    // }
}
